/* Сперва общие правила */

* {
    box-sizing: border-box
}

/* Потом селекторы по тегам */

html {
    font-family: Arial;

}

main {
    width: 300px;
    margin: 0px auto;
}

p {

}

a {

}

/* Колонки */

.row {
    display: flex;

}
.col {
    flex: auto;
}


/* Потом селекторы по классам */

.text-input {

}

.button {
    background-color: #554AF0;
    color: white;
    border: 0px;
    padding: 10px 30px;
    margin: 10px 0px;
    border-radius: 5px;
}

/* Потом специальные правила по страничкам */

/* Login*/

.input-login {


}


/* Страничка жанров и тегов */

.genre-first {
    margin: 10px 0px;
    padding: 5px 5px;
    background-color: #E1F5EA;
    border-radius: 5px;
}

.genre-second {

}

.genre-third {

}

.genre-fourth {

}

.tag {

}

/* Страничка популярного */

.cover {

}

/* Страничка подписки  */

.box-green {

}

.box-purple {

}

.text-large {

}

.button-link {

}
